:root {
  --color-dark-blue: hsl(209, 23%, 22%);
  --color-very-dark-blue: hsl(207, 26%, 17%);
  --color-black: hsl(200, 15%, 8%);
  --color-dark-gray: hsl(0, 0%, 52%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --shadow: rgb(228, 227, 227);
  --margin-x: 1.5rem; }

@media only screen and (min-width: 64em) {
  :root {
    --margin-x: 6rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (min-width: 48em) {
    html {
      font-size: 70%; } }

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-very-light-gray); }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  text-transform: uppercase; }

.heading-1 {
  font-size: 1.5rem; }
  @media only screen and (min-width: 48em) {
    .heading-1 {
      font-size: 2rem; } }

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 5.2rem;
  height: 2.5rem; }
  .toggle-switch__checkbox {
    opacity: 0;
    width: 0;
    height: 0; }
  .toggle-switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e4e2e2;
    border-radius: 3.4rem;
    transition: 0.4s; }
    .toggle-switch__slider::before {
      position: absolute;
      content: '';
      height: 1.7rem;
      width: 1.7rem;
      left: 0.4rem;
      bottom: 0.4rem;
      background-color: white;
      border-radius: 50%;
      transition: 0.4s; }
  .toggle-switch__checkbox:checked + .toggle-switch__slider {
    background-color: var(--color-very-dark-blue); }
  .toggle-switch__checkbox:checked + .toggle-switch__slider:before {
    transform: translateX(2.6rem); }

.search {
  margin-bottom: 3rem;
  padding: 1.5rem 2.5rem;
  min-width: 34.3rem;
  max-width: 48rem;
  height: 4.8rem;
  background: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: 1px 5px 20px var(--shadow);
  display: inline-flex; }
  @media only screen and (min-width: 48em) {
    .search {
      margin-bottom: 4rem; } }
  .search__icon {
    margin-right: 2rem;
    color: #c5c4c4; }
  .search__field {
    border: none; }
    @media only screen and (min-width: 48em) {
      .search__field {
        font-size: 1.4rem; } }
    .search__field::placeholder {
      color: #c5c4c4; }
    .search__field:focus {
      outline: none; }

.filter {
  cursor: pointer;
  margin-bottom: 3rem; }
  @media only screen and (min-width: 48em) {
    .filter {
      float: right; } }
  .filter__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    height: 4.8rem;
    padding: 0 2rem;
    background: var(--color-white);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    box-shadow: 1px 5px 20px var(--shadow);
    cursor: pointer; }
  .filter__icon {
    font-size: 1rem; }
  .filter__list {
    padding: 1.5rem 2rem;
    background: var(--color-white);
    margin-top: 0.5rem;
    height: 14.4rem;
    width: 20rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;
    box-shadow: 1px 5px 20px var(--shadow);
    position: relative;
    position: absolute;
    z-index: 1; }
  .filter__item:hover {
    background: var(--color-very-light-gray); }

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, 264px);
  gap: 4rem;
  justify-content: space-evenly; }
  @media only screen and (min-width: 64em) {
    .countries {
      justify-content: space-between; } }

.card {
  width: 264px;
  height: 336px;
  background: var(--color-white);
  border-radius: 5px;
  box-shadow: 1px 5px 20px var(--shadow); }
  .card:last-child {
    margin-bottom: 4rem; }
  .card__img {
    width: 264px;
    height: 160px;
    border-radius: 5px 5px 0 0; }
  .card__body {
    padding: 15px 25px; }
  .card__title {
    margin-bottom: 1.5rem; }
  .card__text {
    margin-bottom: 0.5rem;
    font-size: 1.4rem; }
    .card__text span {
      font-weight: 600;
      margin-right: 0.5rem; }

.header {
  background-color: var(--color-white);
  padding: 2.5rem 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 1px 15px #e4e3e3;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (min-width: 48em) {
    .header {
      margin-bottom: 4rem; } }

.dark-mode {
  color: red; }

.u-hidden {
  display: none !important; }

.u-margin-x {
  margin-left: var(--margin-x) !important;
  margin-right: var(--margin-x) !important; }
