:root {
  --color-dark-blue: hsl(209, 23%, 22%);
  --color-very-dark-blue: hsl(207, 26%, 17%);
  --color-black: hsl(200, 15%, 8%);
  --color-dark-gray: hsl(0, 0%, 52%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-very-light-gray); }

.heading-1 {
  font-size: 1.5rem; }

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px; }
  .toggle-switch__checkbox {
    opacity: 0;
    width: 0;
    height: 0; }
  .toggle-switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e4e2e2;
    border-radius: 34px;
    transition: 0.4s; }
    .toggle-switch__slider::before {
      position: absolute;
      content: '';
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      border-radius: 50%;
      transition: 0.4s; }
  .toggle-switch__checkbox:checked + .toggle-switch__slider {
    background-color: var(--color-very-dark-blue); }
  .toggle-switch__checkbox:checked + .toggle-switch__slider:before {
    transform: translateX(26px); }

.header {
  background-color: var(--color-white);
  padding: 2.5rem 1.5rem;
  box-shadow: 0 1px 15px #e4e3e3;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.dark-mode {
  color: red; }
