//----------------  HELPERS  --------------------//

// variables
:root {
  --color-dark-blue: hsl(209, 23%, 22%); //dark mode elements
  --color-very-dark-blue: hsl(207, 26%, 17%); //dark mode background
  --color-black: hsl(200, 15%, 8%); //light mode text
  --color-dark-gray: hsl(0, 0%, 52%); //light mode input
  --color-very-light-gray: hsl(0, 0%, 98%); //light mode background
  --color-white: hsl(0, 0%, 100%); //dark mode text & light mode elements
}

//------------------  BASE  --------------------//

// resets
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  //font-weight: 300, 600, 800;
  background-color: var(--color-very-light-gray);
}
